<!-- <app-loader/> -->
<app-navbar/>

<router-outlet/>
<app-introduction-container></app-introduction-container>
<app-categorys></app-categorys>
<app-best-selling-products></app-best-selling-products>
<app-banners-blocks></app-banners-blocks>
<app-featured-products-section></app-featured-products-section>
<app-discount-section></app-discount-section>
<app-popular-products-section></app-popular-products-section>
<app-just-arrived-sec></app-just-arrived-sec>
<app-blogs></app-blogs>
<app-download></app-download>
<app-people-looking></app-people-looking>
<app-information></app-information>
<app-footer></app-footer>
<!-- <app-loginpage></app-loginpage> -->
<!-- <router-outlet></router-outlet> -->
